.result-container {
  width: 800px;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid #f06c00;
  border-radius: 16px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.result-container h2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}

.result-container h4 {
  font-size: 25px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.result-container p {
  font-size: 20px;
  color: #bdbdbd;
  line-height: 1.6;
  margin: 0 auto 20px;
  max-width: 900px;
}


.amazon-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000000fa;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.amazon-link:hover {
  background-color:#f06c00;
 color:rgb(0, 0, 0);
}