.app-border {
  border: 1px solid #525252;
  max-width: 1000px;
}


/* for app position */
.app-container {
  width: 1000px;
  height: 700px;
  margin: 0 auto 0 auto; /* center horizontally */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* fixed postion for nav and banner*/
 
}

body {
	background: linear-gradient(124deg, rgba(0, 0, 0, 1) 0%, rgb(71, 71, 71) 49%, rgb(44, 44, 44) 49%, rgb(71, 71, 71) 49%, rgba(0, 0, 0, 1) 100%);
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -20px;

}
