.app-container {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


.app-border {
  width: 1000px;
  border: 1px solid #525252;
  box-sizing: border-box;
}

/* Body layout */
body {
  background: linear-gradient(124deg, rgba(0, 0, 0, 1) 0%, rgb(71, 71, 71) 49%, rgb(44, 44, 44) 49%, rgb(71, 71, 71) 49%, rgba(0, 0, 0, 1) 100%);
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Responsive */
@media (max-width: 768px) {
  .app-container {
    width: 95%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .app-container {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
}
