.app-border {
  border: 1px solid #525252;
  max-width: 1000px;
}


/* for app position */
.app-container {
  width: 1000px;
  height: 700px;
  margin: 0 auto 0 auto; /* center horizontally */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* fixed postion for nav and banner*/
 
}

.banner-image {
  width: 1000px;
  border: 1px solid #525252;
  display: block;
  margin: 0 auto; /* center it horizontally */
  
}


/* Navbar */

nav,
.nav-item {
	display: flex;
	width: 1000px;

}

nav {
  
	border-radius: 6px;
	background-image: linear-gradient(
		rgb(48, 48, 48) 13%,
		rgb(30, 30, 30) 40%,
		#0c0d11 86%
	);
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 -2px 0 black;
	cursor: pointer;
	
}

.nav-item {
	align-items: center;
	font-size: 20px;
	line-height: 1rem;
	
	min-width: 120px;
	transition: all 80ms ease;

	&.active {
		/* color: $primary; */
		text-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7);
	}

	&:not(.active):hover {
		color: #f06c00;
	}

	&:hover > .icon .subicon {
		height: 32px;
		width: 32px;
		border-radius: 32px;
		top: -16px;
		right: -16px;
		border-color: white;
	}
      /* horizontal black lines */
	&:not(:first-of-type) {
		border-left: 1px solid rgb(60, 60, 60);
	}
	&:not(:last-of-type) {
		border-right: 0.1rem solid black;
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 1ch;
	}

	.icon {
		padding: 1ch;
		position: relative;

		.subicon {
			display: inline-grid;
		}
	}

	.icon > svg {
		max-width: 16px;
	}
}

.Navbar {
	height: 100vh;
	width: 1000px;
	margin: 0;
	padding-top: 50px;
	background-color: #222;
	font-family: system-ui, sans-serif;
}



body {
	background: linear-gradient(124deg, rgba(0, 0, 0, 1) 0%, rgb(71, 71, 71) 49%, rgb(44, 44, 44) 49%, rgb(71, 71, 71) 49%, rgba(0, 0, 0, 1) 100%);
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -20px;

}



.footer-image {
  max-width: 1000px; 
  display: block;
  margin: 0 auto; /* center it horizontally */
  border-top: 1px solid #525252;


}


/* -----------------QUIZ *-----------------*/


.quiz-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;     /* Horizontal center */
  justify-content: center; /* Vertical center */
  font-size: 35px;
  text-align: center;
  border-color: #f06c00;
  
}

/*question display in quiz*/

.options-list {
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 0;
}

/* Individual Option Styling */
.options-list li {
  width: 700px;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #f06c00;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover Effect */
.options-list li:hover {
  background-color: #000000;
  transform: translateY(-2px);     
  /* trigger */
}

/* Selected Option Styling */
.options-list .selected {
  background-color: #f06c00;
  color: white;
  font-weight: bold;
  border-radius: 16px;
  transform: scale(1.02);
}

/* new nav */
* {
	 margin: 0;
  padding: 0;
	box-sizing: border-box;
}

:root {
  --primary: hsl(260, 100%, 80%);
}


/* intro page */
.intro-container {
  width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #f06c00;
  border-radius: 12px;
  text-align: center;
}

.intro-container p {
  font-size: 20px;
  line-height: 1.6;
  color: #f6f6f6;
  margin-bottom: 20px;
}

.intro-container button {
  background-color: #000000;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro-container button:hover {
  background-color: #ff6a00;
  color: black;
}

.products-page {
  padding: 2rem;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;

  /* Keep height fixed with scroll */
  max-height: 45vh;  /* Adjust as needed */
  overflow-y: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.product-card {
  background: #2c2c2c;

  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
}

.product-card:hover {
  
  transform: translateY(-5px);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h4 {
  margin: 0.5rem 0 0rem;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.product-card a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  background-color: #000000;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.product-card a:hover {
  background-color: #f06c00;
  color: black;
}

.product-image {
  width: 130px;
  height: auto;
  border-radius: 8px;
}

/* Admin Login */

.admin-login-container {
  width: 300px;
  margin: 50px auto;
  text-align: center;

}

.admin-login-form input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-color: #f06c00;
}

.error-msg {
  color: rgb(225, 225, 225);
  margin-top: 10px;
}

/* Unsubscribe */

.unsubscribe-container {
  width: 600px;
  margin: 30px auto;
  text-align: center;
}

.unsubscribe-table-wrapper {
  margin-top: 20px;
  overflow-x: auto;
}

.unsubscribe-table {
  width: 100%;
  border-collapse: collapse;
}

.unsubscribe-table th,
.unsubscribe-table td {
  border: 1px solid #f06c00;
  padding: 10px;
}

.unsubscribe-table th {
  background-color: #000000;
}

.unsubscribe-delete-btn {
  background-color: #f06c00;
  color: rgb(223, 220, 220);
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.unsubscribe-delete-btn:hover {
  background-color: #443737;
}


.link {
  margin-top: 30px;
}

.link a {
  color: #f06c00;
  text-decoration: none;
  font-size: 15px;

}



/* Admin Dashboard */

.admin-container {
  width: 500px;
 margin: 50px auto;
text-align: center;
  margin: 50px auto;
  text-align: center;
}

.admin-container h1 {
  margin: auto;
  margin-bottom: 60px;
  font-size: 28px;
  margin: auto;
}

.admin-container p {
  color: #f06c00;
  margin-bottom: 20px;
  margin: auto;
  margin-top: 20px;
}

.admin-actions h3 {
  margin-top: 20px;
  margin-bottom: 50px;
  margin: auto;
}

.admin-actions ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

.admin-actions li {
  background-color: black;
  padding: 5px;
  width: 300px;
  margin: 10px 0;
  margin: auto;
  margin-bottom: 30px;
   margin-top: 30px;
   border-radius: 4px;
}

.admin-actions a {
  text-decoration: none;
  color: #f06c00;
  font-weight: bold;
  transition: color 0.2s;
}

.admin-actions a:hover {
  color: #f0e4d8;
}


.profile-wrapper {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  padding-top: 10px;
  border: 1px solid #f06c00;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
}

.profile-wrapper h2 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-form label {
  font-weight: 600;
  text-align: left;
}

.profile-form input {
  padding: 10px;
  border: 1px solid #f06c00;
  border-radius: 6px;
  font-size: 16px;
}

.profile-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.profile-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.profile-form button:hover:not(:disabled) {
  background-color: #f06c00;
}



.profile-wrapper a {
  display: inline-block;
  margin-top: 20px;
  color: #f06c00;
  text-decoration: none;
  font-weight: bold;
}

.profile-wrapper a:hover {
  color: white;
}


/* USERFORM */
.userform-container {
 width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #f06c00;
  border-radius: 12px;
}

.userform-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 24px;
}

.userform-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userform-container label {
  font-weight: 600;
  color: #ffffff;
}

.userform-container input {
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #f06c00;
  border-radius: 8px;
  font-size: 16px;
}

.userform-container button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.userform-container button:hover {
  background-color: #f06c00;
  color: rgb(0, 0, 0);
}

.userform-container p {
  color: red;
  text-align: center;
  font-size: 14px;
}

/* results */

.result-container {
  width: 800px;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid #f06c00;
  border-radius: 16px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.result-container h2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}

.result-container h4 {
  font-size: 25px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.result-container p {
  font-size: 20px;
  color: #bdbdbd;
  line-height: 1.6;
  margin: 0 auto 20px;
  max-width: 900px;
}


.amazon-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000000fa;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.amazon-link:hover {
  background-color:#f06c00;
 color:rgb(0, 0, 0);
}