.admin-login-container {
  width: 800px;
  margin: 20px auto;
  padding: 50px;
  padding-top: 10px;
  border: 1px solid #f06c00;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
}

.admin-login-container h2 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
   text-align: center;
}

.admin-login-form label {
  display: block;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.admin-login-form input {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

.admin-login-form button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-login-form button:hover {
  background-color: #d95c00;
}

.error-msg {
  color: rgb(225, 225, 225);
  margin-top: 10px;
  font-size: 14px;
}
