.admin-login-container {
  width: 300px;
  margin: 50px auto;
  text-align: center;

}

.admin-login-form input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-color: #f06c00;
}

.error-msg {
  color: rgb(225, 225, 225);
  margin-top: 10px;
}
